/*------------------------------------------------------------------------------
                           Stardew Valley by stormy
------------------------------------------------------------------------------*/

:root {
  --stardew-valley-green-primary: #1b0803;
  --stardew-valley-green-highlight: #1b0803;
  --stardew-valley-light-gray: #1b0803;
  --stardew-valley-bg: #fdc274;
}

.stardew-valley {
  --font-text: "stardew valley";
  --h1-weight: 900;
  --h1-font: "stardew valley";
  --h2-weight: 0;
  --h3-weight: 0;
  --h4-weight: 0;
  --h5-weight: 0;
  --h6-weight: 0;
  --page-color: var(--stardew-valley-bg);

  --accent-color-trans: color-mix(
    in srgb,
    var(--stardew-valley-green-primary) 20%,
    transparent
  );
  color-scheme: dark;
  background-color: var(--stardew-valley-bg);
  --text-normal: var(--stardew-valley-green-primary);
  --text-muted: var(--stardew-valley-green-primary);
  --checklist-done-color: var(--stardew-valley-green-primary);
  --metadata-label-text-color: var(--stardew-valley-green-primary);
  --tag-color: var(--stardew-valley-green-primary);
  --link-color: var(--stardew-valley-green-primary);
  --link-external-color: var(--stardew-valley-green-primary);
  --link-unresolved-color: #e14a49;
  --link-color-hover: var(--stardew-valley-green-highlight);
  --metadata-input-text-color: var(--stardew-valley-green-primary);
  --tag-background: color-mix(
    in srgb,
    var(--stardew-valley-green-primary) 50%,
    transparent
  );

  --text-faint: color-mix(
    in srgb,
    var(--stardew-valley-green-primary) 50%,
    transparent
  );
  --code-normal: var(--accent-color);
  --code-background: color-mix(
    in srgb,
    var(--page-color) 80%,
    black
  ) !important;
  --blockquote-border-color: var(--stardew-valley-green-primary);
  --interactive-accent: var(--stardew-valley-green-primary);
  --collapse-icon-color-collapsed: var(--stardew-valley-green-primary);
  --checkbox-color: var(--stardew-valley-green-primary);
  --checkbox-marker-color: var(--stardew-valley-bg);
  --checkbox-color-hover: color-mix(
    in srgb,
    var(--stardew-valley-green-primary) 20%,
    transparent
  );
  --checkbox-border-color: var(--stardew-valley-green-primary);
  --list-marker-color: var(--stardew-valley-green-primary);
  --embed-border-left: 2px solid var(--stardew-valley-green-primary);
  --background-modifier-border-focus: var(--stardew-valley-green-highlight);
  --background-modifier-border: color-mix(
    in srgb,
    var(--stardew-valley-green-primary) 20%,
    transparent
  );
  --background-modifier-hover: color-mix(
    in srgb,
    var(--stardew-valley-green-primary) 20%,
    transparent
  );
  --metadata-input-background-active: var(--accent-color-trans);

  color: var(--stardew-valley-light-gray);
  --hr-color: var(--stardew-valley-green-highlight);
}
.embed-stardew-valley img {
  background-color: var(--stardew-valley-bg);
}

.stardew-valley .multi-select-pill-content {
  padding-top: 8px;
}

.stardew-valley .metadata-property-key {
  padding-top: 8px;
}

.stardew-valley .metadata-input-text {
  padding-top: 16px;
  padding-bottom: 0;
}

.stardew-valley .text-button-label {
  padding-top: 10px;
}

.stardew-valley .callout-title-inner {
  padding-top: 6px;
}

.stardew-valley :is(h1, .HyperMD-header.HyperMD-header-1) {
  text-align: center;
  color: var(--stardew-valley-light-gray);
  letter-spacing: 2px;
  text-transform: uppercase;
}
.stardew-valley :is(h2, .HyperMD-header.HyperMD-header-2) {
  text-align: center;
  color: var(--stardew-valley-green-primary);
}

.stardew-valley :is(h3, .HyperMD-header.HyperMD-header-3) {
  text-align: center;
  color: var(--stardew-valley-green-highlight);
}

.stardew-valley .multi-select-input {
  font-family: var(--font-text);
}

.stardew-valley svg {
  color: var(--stardew-valley-green-highlight);
}

.stardew-valley hr {
  color: var(--stardew-valley-green-highlight);
}
