/*------------------------------------------------------------------------------
							stormy's General Tweaks							
------------------------------------------------------------------------------*/

:root {
  /* ================================ Colors ================================ */
  --white: #ffffff;
  --gray-100: #f8f8f8;
  --gray-200: #f0f0f0e6;
  --gray-300: #e0e0e0cc;
  --gray-400: #d0d0d0b3;
  --gray-500: #c0c0c099;
  --gray-600: #b0b0b080;
  --black: #000000;
}

.theme-light,
.theme-dark {
  --link-decoration: none;
  --bold-modifier: 250;
}

/* ============================== Headingcolors ============================== */

:is(h1, .HyperMD-header.HyperMD-header-1) {
  color: var(--gray-100);
  font-weight: 700;
  margin-bottom: 0.5em;
}

:is(h2, .HyperMD-header.HyperMD-header-2) {
  color: var(--gray-200);
  font-weight: 600;
}

:is(h3, .HyperMD-header.HyperMD-header-3) {
  color: var(--gray-300);
  font-weight: 500;
}

:is(h4, .HyperMD-header.HyperMD-header-4) {
  color: var(--gray-400);
  font-weight: 600;
}

:is(h5, .HyperMD-header.HyperMD-header-5) {
  color: var(--gray-500);
  font-weight: 600;
}

:is(h6, .HyperMD-header.HyperMD-header-6) {
  color: var(--gray-600);
  font-weight: 600;
}

/* ============================ Color table header ============================ */

.markdown-rendered thead tr > th,
.markdown-rendered thead tr > th:nth-child(2n + 2) {
  background-color: #26262680;
}

table {
  border-collapse: separate;
  border: solid;
  border-radius: 6px;
  border-spacing: 0px;
  border-width: 0px;
  border-color: #1e1e1e;
}

:root table {
  border-collapse: separate;
  border-spacing: 0;
}
th:first-of-type {
  border-top-left-radius: 6px;
}
th:last-of-type {
  border-top-right-radius: 6px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 6px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 6px;
}

:root :is(td, th) {
  border-width: 0 var(--table-border-width) var(--table-border-width) 0;
}

/* ================================= General ================================= */

h1 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-borders img {
  border: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: rgba(122, 122, 122, 0.5);
}

.markdown-preview-view img {
  max-width: 100%;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

.callout {
  border-radius: 14px;
  border-width: 2px;
}

.task-list-item-checkbox {
  border-width: 2px;
  color: var(--color-accent);
}

#calendar-container .title {
  font-size: 18px;
}

.center-images img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.no-embed-border {
  --embed-border-left: 0px solid black !important;
}

/* .markdown-preview-view */
.markdown-preview-view {
  border-radius: 0px;
}
/* center titles */
.center-titles
  :is(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6
  ) {
  text-align: center;
}

code {
  font-family: "JetBrainsMono Nerd Font Mono", monospace;
  text-align: left !important;
}

/* vertical tab header group title */

.vertical-tab-header-group-title {
  color: var(--color-accent);
}
/* Command palette styling */

.prompt {
  opacity: 0.99;
  border-radius: 13px;
  border-width: 2px;
}

.suggestion-highlight {
  text-decoration: none;
  color: var(--text-accent);
}

.suggestion-item.is-selected {
  border: solid var(--text-accent);
  border-radius: 13px;
  border-width: 2px;
}

.suggestion-hotkey {
  background-color: var(--text-accent);
  color: black;
  border-radius: 8px;
  font-weight: 600;
}

.prompt-instruction {
  font-weight: 500;
}

.prompt-instruction-command {
  /* background-color: rgb(250, 252, 255, 0.5); */
  /* color: black; */
  /* border-radius: 10px; */
  padding: 0 3px 0 3px;
}

/* Faded emoji in tasks 
ul > li.task-list-item p {
  text-indent: -1.5em;
}
ul > li.task-list-item.is-checked {
  position: relative;
  filter: url();
}
ul > li.task-list-item.is-checked::after {
  content: "";
  position: absolute;
  display: inline-block;
  backdrop-filter: grayscale();
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.markdown-source-view.mod-cm6
  .HyperMD-task-line[data-task]:not([data-task=" "])
  span {
  filter: grayscale();
}
*/

/* Blocktext */

/* Live-view */
.cm-line {
  text-align: justify !important;
}

/* Reading-view */
.markdown-reading-view p {
  text-align: justify !important;
}

/* Source-view */
.markdown-source-view p {
  text-align: justify !important;
}

/* note checkboxes */
/*
input[type="checkbox"] {
  height: var(--checkbox-size);
  width: var(--checkbox-size);

  background: var(--background-modifier-border);

  position: relative;

  padding: 0;
  margin: 0 6px 0 0;

  border: none;
  border-radius: var(--radius-s);
  border-width: 2px;

  transition: all 0.3s;

  -webkit-appearance: none;
  appearance: none;
  flex-shrink: 0;
}

input[type="checkbox"]:hover {
  border: none;
  border-radius: var(--checkbox-radius);
  transition: box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}

input[type="checkbox"]:checked {
  background: transparent;
  border: none;
  animation: pop 0.5s;
  animation-direction: alternate;
}

li[data-task="x"] input[type="checkbox"]:checked::after {
  left: 1px;
}

input[type="checkbox"]:checked:hover {
  background: var(--text-on-accent);
  border: none;
  transform: scale(1.2);
  transition: 300ms;
}

input[type="checkbox"]:checked:hover::after {
  background: var(--color-accent);
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
