/*------------------------------------------------------------------------------
							stormy's General Tweaks							
------------------------------------------------------------------------------*/

:root {
  /* ================================ Colors ================================ */
  --white: #ffffff;
  --gray-100: #f8f8f8;
  --gray-200: #f0f0f0e0;
  --gray-300: #e0e0e0a8;
  --gray-400: #d0d0d063;
  --gray-500: #c0c0c048;
  --gray-600: #b0b0b021;
  --black: #000000;
}

.theme-light,
.theme-dark {
  --link-decoration: none;
}

/* ============================== Headingcolors ============================== */

:is(h1, .HyperMD-header.HyperMD-header-1) {
  color: var(--gray-100);
}

:is(h2, .HyperMD-header.HyperMD-header-2) {
  color: var(--gray-200);
}

:is(h3, .HyperMD-header.HyperMD-header-3) {
  color: var(--gray-300);
}

:is(h4, .HyperMD-header.HyperMD-header-4) {
  color: var(--gray-400);
}

:is(h5, .HyperMD-header.HyperMD-header-5) {
  color: var(--gray-500);
}

:is(h6, .HyperMD-header.HyperMD-header-6) {
  color: var(--gray-600);
}

/* ================================= General ================================= */

h1 {
  margin-top: 30px !important;
  margin-bottom: 10px !important;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-borders img {
  border: solid;
  border-width: 1em;
  border-width: 1px;
  border-radius: 6px;
  border-color: rgba(122, 122, 122, 0.5);
}

.markdown-preview-view img {
  max-width: 100%;
}

img {
  max-width: 100%;
  border-radius: 0px;
}

.callout {
  border-radius: 14px;
  border-width: 2px;
}

.task-list-item-checkbox {
  border-width: 2px;
}

#calendar-container .title {
  font-size: 18px;
}

.center-images img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.no-embed-border {
  --embed-border-left: 0px solid black !important;
}

/* .markdown-preview-view */
.markdown-preview-view {
  border-radius: 0px;
}

.center-titles
  :is(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6
  ) {
  text-align: center;
}

code {
  font-family: "JetBrainsMono Nerd Font Mono", monospace;
}
